<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <% if Helpers.is_logged_in?(session) %>
    <h1>Welcome <%= Helpers.current_user(session).first_name %></h1>
    <h3>Portfolio Total Value: $</h3>
    <h3>Your Balance: <%= Helpers.current_user(session).balance %> FlatCoins</h3>
    <h4><a href="/logout">Log Out</a></h4>
  <% end %>  
  </body>
</html>